* {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #164369;
	text-decoration: underline;
}

a:hover {
	background-color: #8da4b7;
	color: #fff;
	text-decoration: none;
}

body {
	background-color: #f5f5f5;
	font-size: 12px;
}

input {
	width: 125px;
}

input, textarea {
	background-color: #fafafa;
	border: 1px solid #8da4b7;
	padding: 2px;
	margin: 2px;
}

input:focus {
	background-color: #fff9f4;
	border: 1px solid #fa2;
}

.label {
	float: left;
	padding-top: 4px;
	width: 65px;
}

.sig {
	color: #164369;
	font-size: 11px;
}
